ul.flags{
    margin:19px 0 0 0;
    padding: 0 1px 0 0;
    list-style:none;
}
ul.flags li{
    float:left;
    background:url(img/languages.png) no-repeat left top;
    width:24px;
    height:16px;
    overflow:hidden;
    border:1px solid #666;
    margin:0 1px;
    cursor: pointer;
    text-align: center;
}

ul.flags .nl{background-position:-22px 0;}
ul.flags .de{background-position:-44px 0;}
ul.flags .fr{background-position:-66px 0;}
ul.flags .ru{background-position:-88px 0;}
ul.flags .es{background-position:-110px 0;}
ul.flags .pt{background-position:-132px 0;}
ul.flags .it{background-position:-154px 0;}
ul.flags .cs{background-position:-176px 0;}
